@model RealWorld.Models.BizProcessStatus

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Process status</title>
    </head>
    <body>
        <div>
            <p>Process status is <strong>@Model.Status</strong></p>
            <br/>
            <p>More links based on process status could be added here.</p>
        </div>
    </body>
</html>