@model RealWorld.Models.BizProcessStatus
@{
    ViewBag.Title = "Some Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="featured">
        <div class="content-wrapper">
        <p>Process status: <strong>@Model.Status</strong></p>
        </div>
        </section>
<section class="content-wrapper main-content clear-fix">
    <p>
        More links based on the process status could be added here to make more actions
        <br />
        available to the user.</p>
        </section>
