@model RealWorld.Models.Credentials
<style>
    .field { overflow: auto; margin-bottom: 20px; }
    .field label { float: left; width: 100px; }
    .field .field-subject { float: left; width: 200px; }
</style>
<section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>Welcome to the Real World sample business app!</h1>
                    <h2>This sample code is intended to show some of the characteristics of the REST architectural style.</h2>
                </hgroup>
                <p>
                    The term REST has suffered the fate of instant buzzword fame in the software development world. 
                </p>
            </div>
        </section>
<section class="content-wrapper main-content clear-fix">
            <h3>Please login to our application:</h3>
            <br/>
            @using (Html.BeginForm("SignedIn", "Home"))
            {
                <div class="field">
                    @Html.Label("User Name:")
                    <div class="field-subject">
                        @Html.TextBox("UserName")
                    </div>
                </div>
                <div class="field">
                    @Html.Label("Password:")
                    <div class="field-subject">
                        @Html.Password("Password")
                    </div>
                </div>
                <input type="submit" value="Sign In"/>
            }
        </section>
