@model RealWorld.Models.Credentials

@{
    ViewBag.Title = "Signed In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName is signed in</h2>
<a href="~/SomeProcess">Start some process</a>
